@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  color-scheme: dark;
}

html,
body,
#root {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}